<div class="col-md-8 col-md-offset-2">
  <div class="panel panel-default">
    <div class="panel-heading">
     <h4>{{title}}</h4>
    </div>
    <div class="panel-body">
      <form [formGroup]="form" (ngSubmit)="onSave(f)" #f="ngForm">
        <div class="form-group">
          <label for="first_name">First Name</label>
          <input class="form-control" type="text" id="first_name" name="first_name"  [(ngModel)]="user.first_name" formControlName="first_name">
        </div>
        <div class="form-group">
          <label for="last_name">Last Name</label>
          <input class="form-control" type="text" id="last_name" name="last_name" value="" [(ngModel)]="user.last_name" formControlName="last_name">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input class="form-control" type="text" id="email" name="email" value="" [(ngModel)]="user.email" formControlName="email">
        </div>
        <div class="form-group">
          <label for="position">Position</label>
          <input class="form-control" type="text" id="position" name="position" value="" [(ngModel)]="user.position" formControlName="position">
        </div>
        <div class="form-group">
          <label for="roles">Role</label>
       <br>
          <ss-multiselect-dropdown [options]="roles"  [(ngModel)]="userRoles" formControlName="roles" (ngModelChange)="onChange($event)"></ss-multiselect-dropdown>
        </div>
        <div class="form-group" *ngIf="showPassword">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control" [(ngModel)]="user.password" formControlName="password"  >
        </div>
        <div class="form-group">
          <button type="submit"   class="btn btn-success"
                  name="button">Add user
          </button>
        </div>
      </form>
    </div>
  </div>
</div>