<div class="container" *ngIf="isLoggedIn()">
    <div class="row">
        <a routerLink="admin/users" class="btn btn-sm btn-info">Users</a>
        <a routerLink="admin/posts"class="btn btn-sm btn-info">Posts</a>
        <a routerLink="admin/signout" class="btn btn-sm btn-danger" >Sign Out</a>
    </div>
</div>
<div id="app">
    <div class="container">
        <div class="row">
            <!--this div will have data via routers from backend -->
            <router-outlet></router-outlet>
        </div>
    </div>
</div>