<div class="container">
  <div class="row">
    <h2>our services</h2>
    <h4>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</h4>
    <div class="col-md-3 col-sm-6">
      <div class="single-service">
        <div class="single-service-img">

        </div>
        <h3>Heart problem</h3>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="single-service">
        <div class="single-service-img">
        >
        </div>
        <h3>brain problem</h3>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="single-service">
        <div class="single-service-img">

        </div>
        <h3>knee problem</h3>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="single-service">
        <div class="single-service-img">

        </div>
        <h3>human bones problem</h3>
      </div>
    </div>
  </div>
</div>
